.body {
  background-color: var(--cyan);
  padding: 5rem;
}

h1 {
  text-align: center;
}

.donut-chart {
  padding: 2rem;
  border-radius: 0.8rem;
  background-color: var(--white);
  width: 300px;
  height: 300px;
}
